{% extends "base.html" %}
{% load static %}



{% block title %}
  {% if subject %}
    {{ subject.title }} courses
  {% else %}
    All courses
  {% endif %}
{% endblock %}

{% block content %}

  
  
  <div class="courses">
    <h1>
      {% if subject %}
        {{ subject.title }} courses
      {% else %}
        All courses
      {% endif %}
    </h1>
  </div>
  <section id="courses">
    <div class="container">
      <div class="row">
        <div class="col-12" id="title-courses">
          <h3 class="main-title">Expand your carrer job oportunities with this courses</h3>
        </div>
       
        {% for course in courses %}
        <div class="card col-md-4 m-3 card-grid p-0">
          {% if course.cover_photo %}
          <img src="{{course.cover_photo.url}}" class="card-img-top m-1 card-photo" alt="...">
          {% else %}
          <img src="#" class="card-img-top m-1 card-photo" alt="...">
          {% endif %}
          <div class="card-body p-2">
            <h5 class="card-title card-font">{{ course.title|truncatewords:9}}</h5>
            <p class="card-text card-creator">Created by {{course.owner}}</p>
  
          </div>
          <div class="card-footer text-muted mx-auto align-self-end">
            <a href="{% url 'course_detail' course.pk %}" class="btn btn-primary bg-success align-self-end">Access the
              course!</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- <div class="contents container">
    <h3>Subjects</h3>
    <ul id="modules">
      <li {% if not subject %}class="selected"{% endif %}>
        <a href="{% url "course_list" %}">All</a>
      </li>
      {% for s in subjects %}
        <li {% if subject == s %}class="selected"{% endif %}>
          <a href="{% url "course_list_subject" s.slug %}">
            {{ s.title }}
            <br><span>{{ s.total_courses }} courses</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div> -->
  <!-- <div class="module">
    {% for course in courses %}
      {% with subject=course.subject %}
        <h3>
          
            {{ subject }}
          
        </h3>
        <p>
          <a href="{% url 'course_detail' course.pk %}">{{ course }}</a>.
            {{ course.total_modules }} modules.
            Instructor: {{ course.owner.get_full_name }}
        </p>
      {% endwith %}
    {% endfor %}
  </div> -->
{% endblock %}
