{% extends "base.html" %}
{% load static %}



{% block title %}
  {% if subject %}
    {{ subject.title }} courses
  {% else %}
    All courses
  {% endif %}
{% endblock %}

{% block content %}

  
  
  <div class="courses">
    <h1>
      {% if subject %}
        {{ subject.title }} courses
      {% else %}
        All courses
      {% endif %}
    </h1>
  </div>
  <section id="courses__subject">
    <div class="container">
      <div class="course__item row">
               

        {% for course in courses %}
        <div class="card col-md-4 m-4 card-grid p-0 rounded-0 border-0">
          {% if course.cover_photo %}
          <img src="{{course.cover_photo.url}}" class="card-img-top card__image" alt="...">
          {% else %}
          <img src="#" class="card-img-top card__image" alt="...">
          {% endif %}
          <div class="card-body border-1 p-2">
             <a href="{% url 'course_detail' course.pk %}"><h5 class="card-title card-font">{{ course.title|truncatewords:9}}</h5></a>
            <p class="card-text card-creator">Created by {{course.owner}}</p>
          </div>
        </div>
        {% endfor %}
         
      </div>
    </div>
  </section>
  <!-- <div class="contents container">
    <h3>Subjects</h3>
    <ul id="modules">
      <li {% if not subject %}class="selected"{% endif %}>
        <a href="{% url "course_list" %}">All</a>
      </li>
      {% for s in subjects %}
        <li {% if subject == s %}class="selected"{% endif %}>
          <a href="{% url "course_list_subject" s.slug %}">
            {{ s.title }}
            <br><span>{{ s.total_courses }} courses</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div> -->
  <!-- <div class="module">
    {% for course in courses %}
      {% with subject=course.subject %}
        <h3>
          
            {{ subject }}
          
        </h3>
        <p>
          <a href="{% url 'course_detail' course.pk %}">{{ course }}</a>.
            {{ course.total_modules }} modules.
            Instructor: {{ course.owner.get_full_name }}
        </p>
      {% endwith %}
    {% endfor %}
  </div> -->
{% endblock %}
