{% extends "base.html" %}
{% load static %}
{% load course %}




{% block content %}

  <header>
    <div class="header">
      <img src="{% static 'courses/image1-unsplash.jpg' %}" class="d-block header__image" alt="...">
      <div class="header__title">
        <h2>Do you want to create a new course and share your knowledge? </h1>
        <h5>How about collecting the best existing content and setting up your own course?</h5>
        <div class='header__button'>
          <a href="#how__it__works">Learn more &DownArrow;</a>
        </div>
        
      </div>
    </div>

  </header>
  
  
  
  <!--Courses-->
  <section class=" section mx-3 mb-5" id="courses">
    <div class="container courses__section">
      <div class="course__item row d-flex justify-content-start">
        <div class="col-12" id="title-courses">
          <h3 class="section__title fw-bold">Expand your carrer job oportunities with this courses</h3>
        </div>

        {% total_courses as courses %}
        {% for course in courses %}
        <div class="card col-md-4 m-4 card-grid p-0 rounded-0 border-0">
          {% if course.cover_photo %}
          <img src="{{course.cover_photo.url}}" class="card-img-top card__image" alt="...">
          {% else %}
          <img src="#" class="card-img-top card__image" alt="...">
          {% endif %}
          <div class="card-body border-1 p-2">
            <a href="{% url 'course_detail' course.pk %}"><h5 class="card-title card-font">{{ course.title|truncatewords:9}}</h5></a>
            <p class="card-text card-creator">Created by {{course.owner}}</p>

          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!--How it works-->
  <section class="section my-5" id="how__it__works">
    <div class="container">
      <div class="row mb-5">
  
        <div class="col-12 ">
          <h3 class="section__title fw-bold">How Educa works?</h3>
        </div>
        <div class="steps">
          <img src="{% static 'courses/5576597.jpg' %}" class="steps__img" alt="">
          <div class="search__feature">
            
            <div class="features__icon">
              <i class="fas fa-search fa-lg"></i>
            </div>
           
            <h3 class="steps__title mb-3">First</h3>
            <h5 class="card-text">Search for content on the internet for the subjects you want.</h5>
          </div>
          <div class="upload__feature">
            
            <div class="features__icon fa-lg">
              <i class="fab fa-youtube "></i>
            </div>
            <h3 class="steps__title mb-3">Second</h3>
            <h5 class="card-text">Upload videos, images, or text files from different sources to create your own modules.</h5>
          </div>
          <img src="{% static 'courses/4799410.jpg' %}" class="steps__img" alt="">
          <img src="{% static 'courses/4617305.jpg' %}" class="steps__img steps__img3" alt="">
          <div class="playlist__feature">
            
            <div class="features__icon">
              <i class="fas fa-share-alt-square fa-lg"></i>
            </div>
            <h3 class="steps__title mb-3">Third</h3>
            <h5 class="card-text">Make your own playlist of modules to create courses for self learning or share with other
              people.</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  
   

  <!--Subjects-->
  <section class="section my-5" id="subjects">
    
    <div class="container">
      <div class="row mb-5">
        <div class="col-12">
          <h3 class="section__title fw-bold"> Main categories</h3>
        </div>

        <div class="col-md-4 subject-box business">
          <i class="fas fa-briefcase"></i>
          <a href="#">Business</a>
          <p>Improve your managment skills!</p>
        </div>
        <div class="col-md-4 subject-box culinary">
          <i class="fas fa-bread-slice"></i>
          <a href="{% url 'course_list_subject' 'culinary' %}">Culinary</a>
          <p>Become an amateur cook or a professional chef</p>
        </div>
        <div class="col-md-4 subject-box music">
          <i class="fas fa-guitar"></i>
          <a href="{% url 'course_list_subject' 'music' %}">Music</a>
          <p>Choose from different instruments and start playing</p>
        </div>

        <div class="col-md-4 subject-box personal">
          <i class="fas fa-user-check"></i>
          <a href="#">Personal development</a>
          <p>Improve your quality of life and develop personal skills</p>
        </div>
        <div class="col-md-4 subject-box photography">
          <i class="fas fa-camera"></i>
          <a href="#">Photography</a>
          <p>Save your trips from the best angles</p>
        </div>
        <div class="col-md-4 subject-box software">
          <i class="fas fa-code"></i>
          <a href="{% url 'course_list_subject' 'software-development' %}">Software development</a>
          <p>Get a job with the most wanted skills at the moment</p>
        </div>

      </div>
    </div>
   
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="footer-links">
            <li><a href="{% url 'manage_course_list' %}">Teach on Educa</a></li>
            <li><a class="navbar-brand logo-link" href="{% url 'course_list' %}">
                <img src="{% static 'courses/school.svg' %}" alt="Educa logo" class="d-inline-block align-text-center">
                Educa
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}